server:
  domain: pnas.top
  boundIp: 0.0.0.0
  port: 11234
  webPort: 11236
  crtFile: ../../tls/rpc.crt
  keyFile: ../../tls/rpc.key
  mediaPath: E:/media
  enableCrawler: false

bt:
  btClientAddress: 127.0.0.1:22345
  proxyHostname: 
  proxyPort: 
  proxyType: 
  uploadRateLimit: 10000000
  downloadRateLimit: 0
  hashingThreads: 8
  savePath: D:/bt

log:
  fileName: ./pnas.log
  level: info

redis:
  ip        : wsl.ip
  port      : 6379
  password  : 

mysql:
  ip        : wsl.ip
  port      : 3306
  user      : root
  password  : 123
  dbname    : pnas
  maxOpenConns : 10
  maxIdleConns : 10