.vscode
.vs
bazel-bin
bazel-genfiles
bazel-grpc-web
bazel-out
bazel-testlogs
*.o
protoc-gen-*
.DS_Store
target
.project
.classpath
.settings
CMakeSettings.json
zig-out
zig-cache
*.key
*.csr
*.crt
*.srl
*.exe
__debug_bin*
pnas.log
build
local_setting.yml