.floatingchat {
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
}

.pointer {
  cursor: pointer;
}

.chatContainer {

  /* WebKit 浏览器（Chrome 和 Safari）滚动条样式 */
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: #3f392e;
    /* 滚动条拖动块颜色 */
    border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #e178ce;
    /* 鼠标悬停时的颜色 */
  }

  ::-webkit-scrollbar-track {
    background: #0d0707;
    /* 滚动条轨道背景色 */
    border-radius: 3px;
  }
}